* {
  margin: 0;
  padding: 0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
.text-primary {
  color: #fd6e0a;
}
section{
    max-width:1140px ;
    margin: auto;
    text-align: center;
    margin-top: 100px;
}
header{
    background-color: #FFF8F3;
    background-image: url(images/header_bg.png), url(images/developer.png);
    background-repeat: no-repeat;
    background-position: bottom right, left;
}
nav {
  display: flex;
  justify-content: space-between;
  margin:0px 250px 50px ;
}
nav ul {
  list-style: none;
  display: flex;
  align-items: center;
}
nav ul li {
  color: #474747;
  margin-left: 50px;
  font-weight: 400;
  font-size: 20px;
  line-height: 27.24px;
}
.btn-primary {
  width: 140px;
  height: 50px;
  font-size: 20px;
  border-radius: 5px;
  background-color: #fd6e0a;
  color: #d9d9d9;
  border: none;
  font-weight: 700;
}

.nav-name {
  font-weight: 800;
  font-size: 45px;
}
/* banner style */
.banner{
    margin: 0px 0px 20px 200px;
    display: flex;
    align-items: center;
}
.banner-title{
    font-size: 85px;
    font-weight: 700;
    color: #181818;
    line-height: 116px;
}
.banner-sub-title{
    font-size: 45px;
    font-weight: 600;
    color: #474747;
    line-height: 61px;
    margin-bottom: 20px;
}
.banner-desc{
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    color: #757575;
    margin-bottom: 20px;
}
.contact-btn{
    width: 140px;
    height: 50px;
    padding: 10px 20px;
    border-radius: 5px;
    border: 1px solid #fd6e0a;
    color: #fd6e0a;
    font-weight: 700;
    font-size: 20px;
}

/* about me section */
.section-title{
    margin-bottom: 30px;
    font-weight: 700;
    font-size: 35px;
    text-transform: capitalize;
}
.about-me{
    max-width:1140px ;
    margin: auto;
    background-color: #FFF8F3;
    text-align: center;
    margin-top: 100px;
}
.about-me-contant{
    max-width: 700px;
    margin: auto;
    padding: 100px 157px 131px 156px;
}
.about-me-desc{
    line-height: 30px;
    color: #757575;
    margin-bottom: 30px;
}
.about-me-info{
    display: flex;
    justify-content: space-between;
}
.info-desc{
    text-align: center;
    padding: 5px;
}
.info-name{
    color: #757575;
    font-size: 20px;
    text-decoration: underline;
}
.info-value{
    color: #757575;
    font-size: 20px;
    font-weight: 700;
    color: #474747;
}
/* what i do style */
.what-i-do{
    max-width:1140px ;
    margin: auto;
    text-align: center;
    margin-top: 100px;
}
/* what i do id */

.title-wrapper{
    max-width: 710px;
    margin: auto;
    padding: 10px 157px 131px 156px;
}
.title-wrapper p{
    line-height: 30px;
    color: #757575;
    margin-bottom: 30px;
}
.skills{
    display: flex;
    gap: 24px;
}
.skill-card{
    box-shadow: 0px 6px 50px
    rgba(0, 0, 0, 0.06);
    border-radius: 5px;
    width: 178px;
    padding: 34px;
    background-color: #FFF;
    text-align: left;
    transition: 0.3s cubic-bezier(0.445, 0.05, 0.55, 0.95);
}

.skill-card h5{
    margin-top: 30px;
    margin-bottom: 20px;
    font-size: 18px;
}
.skill-card p{
    color: #757575;;
}
.skill-card:hover{
    transform: scale(1.1);
}
/* resume  style */
.resume-summary{
    display: flex;
    gap: 71px;
    justify-content: space-around;
}
.summary-title{
    margin-bottom: 30px;
    font-size: 30px;
}
.item{
    width: 511px;
    text-align: left;
    margin-bottom: 30px;
    border-bottom: 1px solid #D1D1D1;
}
.item:last-child{
    border-bottom:none ;
}
.item-title{
    color: #474747;
    font-size: 25px;
    font-weight: 700;
    line-height: 34px;
}
.item p{
    color: #757575;
    font-style: normal;
}
.item-duration{
     font-size: 20px;
     font-weight: 600;
     margin-top: 10px;
     margin-bottom: 20px;
}
.item-desc{
    padding: 0px 70px 0px 0px;
     font-size: 16px;
     line-height: 28px;
     font-weight: 400;
     margin-bottom: 30px;
}

/* footer style */
footer{
    background-color: #FFF8F3;
}
.footer-sec{
    margin-top: 100px;
    display: flex;
    gap: 117px;
    padding-top: 130px;
    justify-content: space-around;
    text-align: left;
}
.social{
   width: 562px;
   padding-right: 20px;
}
.social p{
    color: #474747;
    font-size: 16px;
    line-height: 28px;
}
.msg{
    width: 500px;
}
.social img{
    margin:10px 10px 10px 0px;
    cursor: pointer;
}
input{
    width: 461px;
    height: 64px;
}
textarea::placeholder, input::placeholder{
    color: #757575;
    font-size: 16px;
    padding: 18px 30px;
}
textarea{
    width: 461px;
    height: 180px;
}
input, textarea{
    border: none;
    margin-bottom: 24px;
    border-radius: 5px;
}

/* for small devices */
@media only screen and (max-width: 930px) {
   .banner-text{
    margin-left: 70px;
   }
  }